/* src/index.css */

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}
